#cmake generated directories
build/
release/

#Visual Studio cmake files and directories
out/
CMakeFiles/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
game.sln
Debug/
game.dir/
x64/

.vs/
.cache
log.txt
